body{
    margin: 0;
    padding: 0;
    background-color: rgb(225, 225, 225);
}

.contenedor-login{
    display: flex;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,50%);
    height: 400px;
    width: 350px;
    background-color:  #081032;
    border-radius: 20px;
    justify-content: center;
    flex-direction: column;
    box-shadow: 1px 2px 25px #FFE500;
    transition: all 1s;
}
.contenedor-login:hover{
    box-shadow: 1px 1px 15px #FFE500,
    -1px -1px 10px #FFE500;
}

.contenedor-img{
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #A6A6A6;
    left: 50%;
    top: 0;
    transform: translate(-50%,-50%);
    box-shadow: 2px 1px 15px #FFE500;
}
.input-login{
    height: 25px;
    width: 75%;
    margin: 0px auto;
    padding: 5px;
    margin-top: 10px;
    background-color:#A6A6A6;
    border: 2px solid #FFE500;
    border-radius: 5px;
    color: #fff;
}
.btn-login{
    margin: 0px auto;
    margin-top: 10px;
    padding: 10px;
    width: 200px;
    height: 45px;
    border-radius: 16px;
    border-color: #FFE500;
    background-color: transparent;
    transition: all 0.5s;
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
}
.btn-login:hover{
    cursor: pointer;
    background-color:  #FFE500;
    color: black;
}